@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

html, body{
  
  background-color: #F8ede3;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
h1{
  font-size: 56px;
  font-family: 'Rubik' , sans-serif;
}
h2{
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  color:black;
}
.App {
  background-color: #F8ede3;
  height: 100vh;
  width: 100%;
  
}

.with-sidebar {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #781548;
  height: 100%;
  width: 100%;
  
 

}
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  border-radius: 10px;
  padding:3vh;
  
 

}
.box-content{
  
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  vertical-align:middle;
  color: #781548;
}
.box-content img{
  height:150px;
  width: 400px;
}
.box-content input[type=text]{
  height: 40px;
  width: 100%;
}
 .box-content input[type=submit]{
  display: block;
  margin:  auto;
  margin-top: 50px;
  height: 50px;
  width: 50%;
  background-color: #781548;
  color: white;
  border-radius: 5px;
}
.form{
  white-space: nowrap;
  display:flex;
  width: 100%;
  align-items: flex-start;
  margin:3px;
  height: 100%;

  
  
}
.form p{ 
  font-size: 25px;

}

.fields{
  width: 70%;
  margin: 10px;
  
}
.fields input[type='text']{
  height: 30px;
  width: 80%;
}
.personal{
  margin-left: 20px;
  display: inline-block ;
  width: 100%;
  margin-bottom: 20px;
  
  
}
.field{
  width: 50%;
  display: inherit;
  
}

.program{
  display: inline-block ;
  height: 50%;
  margin-left: 20px;
  width: 100%;
}
.summary{
  width: 30%;
}
.summary-container{
  margin:30px;
  background-color: white;
  border-radius: 10px;
  display: block;
  padding:50px
}

.summary-bottom button{
  height: 50px;

  background-color: #781548;
  color: white;
  border-radius: 5px;
}
.content-container{
  margin:10px;
  height: 40%;
  width: 100%;
}
.enrollment-separate{
  height: 100%;
  width: 100%;
  display: block;

}
.table-container{
  background-color: white;
  border-radius: 10px;
  padding:20px;
  overflow: scroll;
  width: 100%;
}
.table-container table{
  width: 100%;
  height: 100%;
}
.table-container th,.table-container td{
  padding: 5px;
  color: black;
}
.table-container2{
  background-color: #F8EDE3;
  border-radius: 10px;
  padding:20px;
  width: 100%;
}
.table-container2 table{
  width: 100%;
  height: 100%;
}
.table-container2 th,.table-container2 td{
  padding: 5px;
  color: black;
}
.table-headers{
  background-color: #DFD3C3;
}
.table-headers2{
  background-color: #781548;
}
.table-headers3{
  background-color: #781548;
  font-size: 32px;
}
.table-headers tr,.table-headers td{
  color:#640033;
  font-family: 'Inconsolata' , monospace;
  font-size: 20px;
}
.table-headers2 tr,.table-headers2 td{
  color:white;
  font-family: 'Inconsolata' , monospace;
  font-size: 20px;
}
.table-headers3 tr,.table-headers3 td{
  color:white;
  font-family: 'Inconsolata' , monospace;
  font-size: 32px;
}
tr{
  font-family: 'Work Sans',sans-serif;
  font-size: 20px;
  color:black;
}
td{
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
}
.notifications-container{
  display: block;
  width: 100%;
}
.notif-block{
  background-color: white;
  width: 100%;
  text-align: left;
  color: black;
  font-size:30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.button2{
  background-color:white;
  border: 1px solid #781548;
  border-radius: 4px;
  color: #781548;
  font-family: 'Montserrat',sans-serif;
  text-align: center;
  font-size: 15px;
  width: 130px;
  height: 40px;
  left: 1127px;
  top: 96px;
}
.button1{
  background-color:#781548;
  border: 1px solid #781548;
  border-radius: 4px;
  color: white;
  font-family: 'Montserrat',sans-serif;
  text-align: center;
  font-size: 15px;
  width: 130px;
  height: 40px;
  left: 1127px;
  top: 96px;
}
.button3{
  background-color:white;
  border: 1px solid red;
  border-radius: 4px;
  color: red;
  font-family: 'Montserrat',sans-serif;
  text-align: center;
  font-size: 15px;
  width: 130px;
  height: 40px;
  left: 1127px;
  top: 96px;
}

#aboutUs{
  background-color: #781548;
  color: white;
  text-align:center;
  height: 10%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
}