
html, body{
  
  background-color: #F8ede3;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.App {
  background-color: #F8ede3;
  height: 100%;
  width: 100%;
  
}

.with-sidebar {
  display: flex;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  vertical-align:middle;
  color: #781548;
 

}
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  border-radius: 10px;
  padding:3vh;
  
 

}
.box-content{
  
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  vertical-align:middle;
  color: #781548;
}
.box-content img{
  height:150px;
  width: 400px;
}
.box-content input[type=text]{
  height: 40px;
  width: 100%;
}
 .box-content input[type=submit]{
  display: block;
  margin:  auto;
  margin-top: 50px;
  height: 50px;
  width: 50%;
  background-color: #781548;
  color: white;
  border-radius: 5px;
}
.form{
  white-space: nowrap;
  display:flex;
  width: 100%;
  align-items: flex-start;
  margin:3px;
  height: 100%;

  
  
}
.form p{ 
  font-size: 25px;

}

.fields{
  width: 70%;
  margin: 10px;
  
}
.fields input[type='text']{
  height: 30px;
  width: 80%;
}
.personal{
  margin-left: 20px;
  display: inline-block ;
  width: 100%;
  margin-bottom: 20px;
  
  
}
.field{
  width: 50%;
  display: inherit;
  
}

.program{
  display: inline-block ;
  height: 50%;
  margin-left: 20px;
  width: 100%;
}
.summary{
  width: 30%;
}
.summary-container{
  margin:30px;
  background-color: white;
  border-radius: 10px;
  display: block;
  padding:50px
}

.summary-bottom button{
  height: 50px;

  background-color: #781548;
  color: white;
  border-radius: 5px;
}

