@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
   
  }
body{
   
}  

.nav{
  background-color: #fff;
  color: #781548;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 15px;
  }
.nav ul{
  padding:0;
  margin: 0;
  list-style:none;
  gap:1rem
}


.left-side-nav{
  display: flex;
  justify-content: flex-start;

}

.user-title{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  vertical-align:middle;
}
.navbar-fields{
  color: inherit;
  margin: 10px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  
}

.company-title{
  height: 45px;

}
.separate{
  display: flex;
  justify-content: space-between;
}
.user-title{
  display: flex;
  justify-content: flex-start;
  color: inherit;
  margin: 10px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}


