@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.sidebar{
    margin: 0;
    height:100%;
    width:fit-content;
    background-color: #781548;
    padding: 4px;
    display: flex;
    

    
    
}

.sidebar_list{
    width: 100%;
    text-align: center;
    width: 100%;
    padding: 0;
}

.sidebar_list .row{
    width: 100%;
    justify-content: center;
    height: 50px;
    color: white;
    padding-bottom:50px;
}

.title{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 15px;
}


